<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            border-radius: 5px;
            border:  2px solid black;
            padding: 10px;
            width: 420px;
            height: 320px;
        }
        .login-div{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        input{
            padding: 5px;
            margin: 5px
        }

        button{
            width: 120px;
        }
    </style>
</head>
<body>
    <form action="/login">
        <div class="login-div">
            <h1>Login</h1>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="password">
            <button type="submit" value="login">login</button>
        </div>
        <a href="/users/register">Don't have an account? Signup here</a>
    </form>
</body>
</html>